@model TheStoneClinic.Models.PatientDetail

@{
    ViewData["Title"] = "AddPatient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AddPatient</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddPatient">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control"  required />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control"  required />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <select asp-for="Gender" class="form-select" required>
                    <option>M</option>
                    <option>F</option>
                    <option>O</option></select>
            </div>
            
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" type="date" 
                required />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" id="ageTextBox"  required />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Patient" class="btn btn-primary" onsubmit="GetAge()" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Patients">Back to List</a>
</div>
<script>
    function GetAge(){
    var age = document.getElementById('ageTextBox').value;
    age = parseInt(age, 10);
    if (isNaN(age) || age < 0 || age > 120) {
        alert("The age must be a number between 1 and 120");
        return false;
    }


</script>
