
@{
    ViewData["Title"] = "Admin";
}

<style>
    
</style>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @*<img src="~/welcome.jpg" class="welcomeImg" />*@
</div>
